In [1]:
#SYNTAX
print("My Name is Narmeen")

My Name is Narmeen

In [2]:
#COMMENT
print("Hello, World!")

Hello, World!

In [3]:
#VARIABLE
x=5              #Global Variable
def my_function():
     y=7         #Local Varibale
     return(x+y)
my_function()

12

In [4]:
#CASTING
x=int(input("Enter any no."))
y=int(input("Enter any no."))
def my_function():
     return(x+y)
my_function()

Enter any no. 8
Enter any no. 488

496

In [5]:
#If,Elif and Else Statement
x=int(input("Enter No" ))
if x>=80:
  print("A")
elif x>=50:
  print("B")
else:
  print("Fail")

Enter No 45
Fail

In [6]:
#If and Else Statement
x=int(input("Enter IQ Level"))
y=float(input("Enter CGPA"))
if x>=100 and y>=3.9:
   print("You are not eligible for this job")
else:
  print("You are not eligible for this job")

Enter IQ Level 60
Enter CGPA 3.00
You are not eligible for this job

In [7]:
#WHILE LOOP
x = 100
while x>=0:
  print(x)
  x=x-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [8]:
#FOR LOOP(EVEN)
for i in range (2,100,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [9]:
#FOR LOOP(ODD)
for i in range (1,100,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99